<div class="footer-wrapper style-{{ section.settings.style }} {% if section.settings.enable_borders %}has-borders{% endif %}">
  <footer class="main-footer">
    {% if section.blocks.size or section.settings.show_logo %}
      <div class="footer-row footer-columns clearfix">
        {% if section.settings.show_logo %}
          <div class="footer-column footer-logo">
            <a class="footer-logo-link" href="/">
              {% if section.settings.footer_logo_alternate and section.settings.style == 'dark' %}
                <img
                  class="footer-logo-image footer-logo-regular"
                  alt="{{ shop.name | escape }}"
                  src="{{ section.settings.footer_logo_alternate | img_url: '200x100' }}">
              {% elsif section.settings.footer_logo %}
                <img
                  class="footer-logo-image footer-logo-alternate"
                  alt="{{ shop.name | escape }}"
                  src="{{ section.settings.footer_logo | img_url: '200x100' }}">
              {% else %}
                <h2 class="branding-logo">{{ shop.name }}</h2>
              {% endif %}
            </a>
          </div>
        {% endif %}

        {% for block in section.blocks %}
          {% if block.type == 'menu' %}
            {% assign menu = block.settings.menu %}
            {% if linklists[menu].links != blank %}
              <div class="footer-column footer-menu">
                <h4 class="footer-title footer-menu-title">{{ linklists[menu].title }}</h4>
                <ul class="footer-menu-list">
                  {% for link in linklists[menu].links %}
                    <li class="footer-menu-list-item">
                      <a class="footer-menu-list-item-anchor" href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endif %}

          {% if block.type == 'social_media' %}
            {% assign social_media_accounts = "facebook|twitter|google|pinterest|instagram|vimeo|youtube|rss" | split: "|" %}
            {% assign has_links = false %}
            {% for account in social_media_accounts %}
              {% capture url %}social_{{account}}_url{% endcapture %}
              {% if settings[url] != blank %}
                {% assign has_links = true %}
                {% break %}
              {% endif %}
            {% endfor %}

            {% if has_links %}
              <div class="footer-column footer-menu">
                <h4 class="footer-title footer-menu-title">{{ "general.social.social" | t }}</h4>
                <ul class="footer-menu-list">
                  {% for account in social_media_accounts %}
                    {% capture url %}social_{{account}}_url{% endcapture %}
                    {% if settings[url] != blank %}
                      <li class="footer-menu-list-item">
                        <a class="footer-menu-list-item-anchor" href="{{ settings[url] | escape }}" target="_blank">
                          {% if account == 'google' %}
                            {{ account | capitalize | append: '+' }}
                          {% elsif account == 'rss' %}
                            {{ account | upcase }}
                          {% else %}
                            {{ account | capitalize }}
                          {% endif %}
                        </a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endif %}

          {% if block.type == 'richtext' %}
            <div class="footer-column footer-content">
              {% if block.settings.title != blank %}
                <h4 class="footer-title footer-content-title">
                  {{ block.settings.title | escape }}
                </h4>
              {% endif %}
              {% if block.settings.text != blank %}
                <div class="footer-content-text">
                  {{ block.settings.text }}
                </div>
              {% endif %}
                <div class="module-wrapper custom-letter-footer style-{{ section.settings.style }}">
    <div class="module mailing-list-signup">
      <div class="mailing-list-signup-container">

        <div class="module-header">
          <h3 class="module-title">{{ 'general.mailing_list.title' | t }}</h3>
          <p class="module-subtitle">
            {{ 'general.mailing_list.description' | t }}
          </p>
        </div>

        <div class="module-body">
          <div class="mailing-list-signup-form-container">
            {% form 'customer', id: 'newsletter-form' %}
                <input type="hidden" id="contact_tags" name="contact[tags]" value="prospect, newsletter">

                <div class="mailing-list-signup-form-field">
                  <input
                    class="mailing-list-signup-form-email icon-arrow-right"
                    name="contact[email]"
                    type="email"
                    placeholder="{{ 'general.general.email_placeholder' | t }}"
                    aria-label="{{ 'general.general.email_placeholder' | t }}">
                  <div class="mailing-list-signup-form-field-icon icon icon-mail"></div>
                </div>

                <div class="mailing-list-signup-form-cta">
                  <input
                    class="mailing-list-signup-form-submit"
                    name="subscribe"
                    type="submit"
                    value="{{ 'general.general.subscribe' | t }}"
                    aria-label="{{ 'general.general.subscribe' | t }}" />
                  <div class="mailing-list-signup-form-submit-icon icon icon-arrow-right"></div>
                </div>
                  {% if form.posted_successfully? %}
                <p class="module-subtitle">
                  {{ 'general.mailing_list.success' | t }}
                </p>
              {% endif %}
            {% endform %}
          </div>
        </div>

      </div>
    </div>
  </div>
            </div>
          {% endif %}
        {% endfor %}
          <div class="footer-column footer-menu product-details-share">
<div class="share-buttons no-count clearfix" data-permalink="https://www.vinpok.com/products/vinpok-duo-dual-lightning-charge-audio-cable-for-iphone-7">

    <a class="share-buttons-item share-instagram" target="_blank" rel="nofollow" href="//www.instagram.com/vinpokstore/">
      <span>Fancy</span>
    </a>
    <a class="share-buttons-item share-youtube" target="_blank" rel="nofollow" href="//www.youtube.com/channel/UC-qlokb4Du8aVy3mDaTQaDQ">
      <span>Pin it</span>
      <span class="share-count"></span>
    </a>
      <a class="share-buttons-item share-twitter" target="_blank" rel="nofollow" href="//twitter.com/Vinpokcom">
    <span>Tweet</span>
    <span class="share-count"></span>
  </a>
    <a class="share-buttons-item share-facebook" target="_blank" rel="nofollow" href="//www.facebook.com/vinpok/">
    <span>Share</span>
    <span class="share-count"></span>
  </a>
</div>
      <p class="footer-copyright">
        {% capture year %}{{ "now" | date: "%Y" }}{% endcapture %}
        {{ 'general.general.copyright_text_html' | t: year: year }} Oakland California USA. Powered by <a class="footer-copyright-link" href="//www.vinpok.com">Vinpok</a>.
      </p>
        </div>
      </div>
    {% endif %}

  </footer>
</div>

{% schema %}
{
  "name": "Footer",
  "max_blocks": 4,
  "settings": [
    {
      "type": "select",
      "id": "style",
      "label": "Background style",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "dark",
          "label": "Dark"
        }
      ],
      "default": "default"
    },
    {
      "type": "checkbox",
      "id": "enable_borders",
      "label": "Show borders",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "payment_icons",
      "label": "Enable payment icons",
      "default": false
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "checkbox",
      "id": "show_logo",
      "label": "Show logo in footer",
      "default": true
    },
    {
      "type": "image_picker",
      "id": "footer_logo",
      "label": "Logo image",
      "info": "400 x 200px .png recommended"
    },
    {
      "type": "image_picker",
      "id": "footer_logo_alternate",
      "label": "Inverted logo image",
      "info": "400 x 200px .png recommended"
    }
  ],
  "blocks": [
    {
      "type": "menu",
      "name": "Menu",
      "settings": [
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menu",
          "default": "main-menu"
        }
      ]
    },
    {
      "type": "social_media",
      "name": "Social media links",
      "settings": [
        {
          "type": "paragraph",
          "content": "Configure your social media links under \"General settings\" in \"Social media\""
        }
      ],
      "limit": 1
    },
    {
      "type": "richtext",
      "name": "Rich text",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Rich text"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text",
          "default": "<p>Use this section to welcome customers to your store, say a bit about your brand, or share news and seasonal promotions.</p>"
        }
      ],
      "limit": 1
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "menu",
        "settings": {
          "menu": "main-menu"
        }
      },
      {
        "type": "menu",
        "settings": {
          "menu": "footer"
        }
      }
    ]
  }
}
{% endschema %}